<form [formGroup]="registerForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input 
            [class.is-invalid]="registerForm.get('username')?.errors 
            && registerForm.get('username')?.touched"
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="username"
        >
        <label >Username</label>
        <div class="invalid-feedback text-start">Please enter a username</div>
    </div>

    <div class="mb-3 form-floating">
        <input 
            [class.is-invalid]="registerForm.get('password')?.errors 
            && registerForm.get('password')?.touched"
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="password"
        >
        <label >Password</label>
        <div *ngIf="registerForm.get('password')?.hasError('required')" 
        class="invalid-feedback text-start">Please enter a password</div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength')" 
        class="invalid-feedback text-start">Password must be at least 4 characters</div>
        <div *ngIf="registerForm.get('password')?.hasError('maxlenght')" 
        class="invalid-feedback text-start">Password must be at most 8 characters</div>
    </div>
    
    <div class="mb-3 form-floating">
        <input 
            [class.is-invalid]="registerForm.get('confirmPassword')?.errors 
            && registerForm.get('confirmPassword')?.touched"
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="confirm Password"
        >
        <label >Confirm Password</label>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" 
        class="invalid-feedback text-start">Please confirm password</div>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')" 
        class="invalid-feedback text-start">Confirm Password must match password</div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit"> Register</button>
        <button class="btn btn-default me-2" type="button" (click)="cancel()"> Cancel</button>
    </div>
</form>

<p>fform value: {{ registerForm.value | json }}</p>
<p>fform status: {{ registerForm.status | json }}</p>
